amazon_s3/src/main/mule/exercise.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd">
	<flow name="WriteToS3" doc:id="0026eeb4-31ef-4496-9ba0-8fa225e8492e" >
		<http:listener doc:name="HTTP POST" doc:id="36eaab64-6439-4d9e-bd8f-b833108cd07b" config-ref="HTTP_Listener_config" path="/writeToS3/{bucketName}" allowedMethods="POST"/>
		<set-variable value="#[attributes.uriParams.bucketName]" doc:name="Set Variable bucketName" doc:id="39015aa3-b4e0-451f-96c3-ce9d728d0644" variableName="bucketName"/>
		<set-variable value="#[payload.fileName]" doc:name="Set Variable objectKey" doc:id="67c214d9-b01e-4fff-8d16-af3fc98e8135" variableName="objectKey"/>
		<set-variable value="#[payload.message]" doc:name="Set Variable message" doc:id="fcb990ca-1a85-4841-990c-203597e7921f" variableName="message"/>
		<s3:create-bucket doc:name="Create bucket" doc:id="e8832998-c601-43cb-b43e-3b6ae7f1c3d7" config-ref="Amazon_S3_Configuration" bucketName="#[vars.bucketName]" region="EU_IRELAND"/>
		<s3:create-object doc:name="Create object" doc:id="1a96a3d4-144e-45cb-9b0b-263d2f0afe8c" config-ref="Amazon_S3_Configuration" bucketName="#[vars.bucketName]" key="#[vars.objectKey]">
			<s3:object-content ><![CDATA[#[vars.message]]]></s3:object-content>
		</s3:create-object>
		<set-payload doc:name="Set Payload Response" doc:id="be38ddb6-6ec3-44f0-a0d6-02ed6b137d4a" value='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"status": "SUCCESS",&#10;	"message": "Object has been stored"&#10;}]'/>
	</flow>
</mule>
